.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inputs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}
.slider-with-typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}
.house-type-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
